@media screen and (max-width: 700px) {
	.about-content {
		margin: 0;
		margin: auto;
		font-size: 15px;
	}
	.form-modal {
		width: 100%;
		float: none;
	}
	.result-img-my {
		margin-top: 40px;
		width: 100%;
		float: none;
	}
	.about-welcome, .alert-text {
		font-size: 40px;
	}
	.about-text {
		font-size: 20px;
	}
	.alert-text-title {
		font-size: 30px;
	}
	.alert-text {
		font-size: 20px;
	}
	.language-container {
		padding-top: 40%;
	}
	.language-block {
		margin: 0;
		margin-left: 15vh;
		margin-top: 20px;
		display: flex;		
	}
	.block-title {
		margin: 0;
		position: absolute;
		right: 40px;
	}
	.video-block {
		width: 90%;
	}
	.logo-image img {
		width: 200px;

	}
	.logo-image {
		margin-top: 0;
	}
	.language-block-container {
		width: 100%;
	}
	.language-block {
		width: 170px;
		margin: 10px auto;
	}
	.cards-container {
		display: block;
	}
	.card-block {
		margin: 40px auto;
	}
	.navigation-block p a {
		font-size: 30px;
		margin: 30px 0;

	}
	.navigation-block i {
 	font-size: 100px;
 	margin-top: 20px;
}
	
}
@media screen and (max-width: 580px) {
	.tarif-continer {
		display: block;
	}
	.tarif-block {
		margin: auto;
		margin-bottom: 2em;
	}
}


@media screen and (max-width: 890px) {
	.news-block {
		display: block;
	}
	.image-block img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 0 0;

	}
	.image-block {
		margin-bottom: 20px;
		width: 100%;
		height: 300px;
		/*border-style: solid;*/

	}
	.auth {
		display: none;
	}
	.register {
		width: 100%;
		margin-top: 10vh;
	}
	.orders-block img {
		width: 80px;
	}
	.orders-block {
		width: 280px;
	}
	.orders-container h2 {
		font-size: 18px;
		margin: 2px 0;
	}
	.orders-container p {
		font-size: 10px;
	}
	.orders-container a {
		font-size: 11px;
	}
	.order-price { 
		position: relative;
		width: 100%;
		border-radius: 10px;
		font-size: 11px;
		margin: 10px;

	}
	.orders-block {
		position: relative;
	}
	.order-infor p {
		padding: 0;
		margin: 0;
		font-size: 9px;
	}
	#go_to {
		display: block;
	}

}
.news-body {
	padding-left: 20px;		
}
@media screen and (max-width: 770px) {
	.maker-tools {
		width: 100px;

	}
	.inner-tool details summary {
		/*font-size: 15px;*/
		padding: 10px;
		margin: 5px;
		border-radius: 5px;
	}
	.inner-tool details summary span {
		display: none;
	}
	.maker-inner {
		right: 25%;
	}
	.summary1 {
		background: blue;
	}
	.summary2 {
		background: yellow;
	}
	.summary3 {
		background: yellow;
	}
	.tools-title {
		display: none;
	}
	 
	.center_img {
		width: 120px;
	}
	.border_1 {
		width: 190px;
	}
	.c1 {
		top: 50px;
	}
	.c2 {
		bottom: 50px;
	}
	.modal-message, .modal-text, .modal-close {
		font-size: 15px;
	}
	.main-block {
		font-size: 16px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	
	/*.avatar img {
		width: 400px;

	}*/
}
@media screen and (max-width: 920px) {
	.object-order {
		display: block;
	}
	.object_order-img {
		margin: auto;
		display: flex;
	}
	.model-form-cont {
		display: block;
	}
	#rm {
		max-width: 200px;
	}
	.main-block {
		width: 80%;
		margin: auto;
	}
	.avatar {
		/*min-width: 50px;
		width: 100%;
		max-width: 230px;*/
		/*height: 100%;*/
		/*height: %;*/
	}
	.update-link a {
		font-size: 12px;
	}.user-profile {
		width: 95%;
	}
}
@media screen and (max-width: 1200px) {
	.avatar {
		min-width: 50px;
		width: 100%;
		/*max-width: 230px;*/
		height: 140px;
		/*height: %;*/
	}
}
@media screen and (max-width: 720px) {
	.avatar {
		width: 80%;
		margin: auto;
		height: 400px;
	}
	.user-profile {
		display: block;
	} 
	.user-profile form {
		display: block;
		width: 90%;
		margin: auto;
	}
	.more-information {
		width: 90%;
		margin: 3vh auto;
	}
}
@media screen and (max-width: 450px) {
	.top-nav {
		width: 300px;
		height: 22px;
		padding-left: 25px;
	}
	.top-nav ul li a {
		font-size: 14px;
	}
	.avatar {
		width: 100%;
		margin: auto;
		height: 250px;
	}
}