{% extends 'base.html' %}
{% load static %}
{% block nav %}
	<ul>
		<li><a href="{% url 'main' %}">Дом</a></li>
		<li><a href="{% url 'maker' %}">Заказать</a></li>
		<li><a href="{% url 'members' %}" id="active">Аккаунт</a></li>
		<li><a href="#">Помощь</a></li>
	</ul>
{% endblock %}
{% block content %}
	{% if object %}
		<div class="user-profile-innner">
			<div class="user-profile">
				
				{% if request.user.id == object.id %} 
					<form action="{% url 'user_continu' request.user.id %}" method="POST">
						<div class="update-link">	
							{% if request.user == object %}
								<a href="{% url 'customer_update' object.customer.id %}">Изменть изоброжение</a>
							{% endif %}
						</div>

						<div class="avatar">
							{% if object.customer.image == 'default' %}
							<img src="{% static 'main/image/user.png' %}" width="100%">
							{% else %}
							<img src="{{ object.customer.image }}" width="100%">
							{% endif %}
						</div>
						{% csrf_token %}
						<div class="username">
							<input type="text" name="username" value="{{ object.username }}" class="form-control" placeholder="Қолданушы атауы" maxlength="150" required id="id_username">
						</div>
						<div class="user-name">
							<input type="text" name="first_name" class="form-control" placeholder="Есімі" maxlength="150" id="id_first_name" value="{{object.first_name}}">
							<input type="text" name="last_name" class="form-control" placeholder="Тегі" maxlength="150" id="id_last_name" value="{{object.last_name}}">
						</div>
						<input type="text" name="email" class="form-control" placeholder="почта" maxlength="254" id="id_email" value="{{object.email}}">
					
						<button>Сохранить</button>
						<a href="{% url 'logout' %}" type="button" id="logout">Выйты</a>
					</form>
				{% else %}
				<h2>{{ object.first_name }} {{ object.last_name }}</h2>
					<form action="{% url 'user_continu' request.user.id %}" method="POST">
						<div class="avatar">
							<img src="{% static 'main/image/user.png' %}" width="100%">
						</div>
						
						<div class="prof-text">
							<p>{{ object.username}}</p>
							<p>{{ object.first_name }} {{ object.last_name }}</p>
							<p>{{ object.email }}</p>
						</div>
						
					</form>
				{% endif %} 
				
			</div>
		</div>
	{% endif %}

	
{% endblock %}