{% extends 'base.html' %}
{% load static %} 
{% block content %}
	{% if object %}
		<div class="user-profile-innner">
			<div class="user-profile">
				
				{% if request.user.id == object.id %} 
					<form action="{% url 'user_continu' request.user.id %}" method="POST">
						<div class="update-link">	
							{% if request.user == object %}
								<a href="{% url 'customer_update' object.customer.id %}" id="update_picture_link">Изменть изоброжение</a>
							{% endif %}
						</div>

						<div class="avatar">
							{% if object.customer.image == 'default' %}
							<img src="{% static 'main/image/user.png' %}" width="100%">
							{% else %}
							<img src="{{ object.customer.image }}" width="100%">
							{% endif %}
						</div>
						{% csrf_token %}
						<div class="username">
							<input type="text" name="username" value="{{ object.username }}" class="form-control" placeholder="Қолданушы атауы" maxlength="150" required id="id_username">
						</div>
						<div class="user-name">
							<input type="text" name="first_name" class="form-control" placeholder="Есімі" maxlength="150" id="id_first_name" value="{{object.first_name}}">
							<input type="text" name="last_name" class="form-control" placeholder="Тегі" maxlength="150" id="id_last_name" value="{{object.last_name}}">
						</div>
						<input type="text" name="email" class="form-control" placeholder="Почта" maxlength="254" id="id_email" value="{{object.email}}">
					
						<button id="profile_save_id"></button>
						<a href="{% url 'logout' %}" type="button" id="logout">Выйты</a>
					</form>
				{% else %}
				<h2>{{ object.first_name }} {{ object.last_name }}</h2>
					<form action="{% url 'user_continu' request.user.id %}" method="POST">
						<div class="avatar">
							<img src="{% static 'main/image/user.png' %}" width="100%">
						</div>
						
						<div class="prof-text">
							<p>{{ object.username}}</p>
							<p>{{ object.first_name }} {{ object.last_name }}</p>
							<p>{{ object.email }}</p>
						</div>
						
					</form>
				{% endif %} 
			{% if request.user.id == object.id %}
			<div class="more-information">
				<h3 id="new_orders">Новые заказы</h3>
				<div class="product-container-profile">
					{% for prud in product_profile %}
					<div  class="product-profile">
						<img src="{{ prud.des_image }}">
						{% if not time_left %}
						<span class="product-profile-name">{{ prud.client_first_name }}</span>
						<a href="{% url 'detail_order' prud.id %}" class="order-detail-button">Подробнее</a>
						{% endif %}
					</div>
					{% endfor %}

					{% if time_left %}
					<style type="text/css">
						.product-profile {filter: blur(3px);}
					</style>
					{% endif %}
				</div>
				<a id="oll_orders_page" href="{% url 'all_order' %}" class="btn btn-primary all-order-link-profile">Посмотреть все заказы</a>
					{% if time_ > 0 %}
					<div class="sterm-block light-green-profile">
						<h4 id="sub_sterm">Срок подписки</h4>
						<p id="sub_text_1">У вас отсалось {{ time_ }}</p>
					</div>

					{% elif time_ == 0 %}
					<div class="sterm-block yellow-profile" >
						<h4 id="sub_sterm">Срок подписки</h4>
						<p><span id="sub_text_2">Сегодня последний день подписки</span>, <a href="https://wa.me/+77783142837?text=Добрый+день!+хочу+продлить+подписку!"><span id="sub_text_link_2">нажмите чтобы продлить подписку</span></a></p>
					</div>
					<details>
					<summary id="profile_summary" class="btn btn-primary all-order-link-profile">Данные для продление подписки</summary>
					<div class="details-profile-content">
						<p><strong>ID:</strong> {{ request.user.id }}</p>
						<p><strong><span id="profile_c_username">Имя пользователя:</span></strong> {{ request.user }}</p>
						<p><strong><span id="profile_f_name">Имя:</span></strong> {{ request.user.first_name }}</p>
						<p><strong><span id="profile_l_name">Фамилия:</span></strong> {{ request.user.last_name }}</p> 
						<p><strong><span id="profile_e_email">Email:</span></strong> {{ request.user.email }}</p> 
						<a id="profile_l_link" href="https://wa.me/+77783142837?text=
						ID:+{{ request.user.id }};+
						Имя:+{{ request.user.first_name }};+
						Фамилия:+{{ request.user.last_name }};+
						Имя пользователя:+{{ request.user }}." class="btn btn-secondary all-order-link-profile">Отправить данные к администрацию</a>

					</div>
				</details>	
					{% else %}
					<div class="sterm-block red-profile">
						<h4 id="sub_sterm">Срок подписки</h4>
						<p id="sub_text_3">Время истек</p>
					</div>
					<details>
					<summary id="profile_summary" class="btn btn-primary all-order-link-profile">Данные для продление подписки</summary>
					<div class="details-profile-content">
						<p><strong>ID:</strong> {{ request.user.id }}</p>
						<p><strong><span id="profile_c_username">Имя пользователя:</span></strong> {{ request.user }}</p>
						<p><strong><span id="profile_f_name">Имя:</span></strong> {{ request.user.first_name }}</p>
						<p><strong><span id="profile_l_name">Фамилия:</span></strong> {{ request.user.last_name }}</p> 
						<p><strong><span id="profile_e_email">Email:</span></strong> {{ request.user.email }}</p>
						<a id="profile_l_link" href="https://wa.me/+77783142837?text=
						ID:+{{ request.user.id }};+
						Имя:+{{ request.user.first_name }};+
						Фамилия:+{{ request.user.last_name }};+
						Имя пользователя:+{{ request.user }}." class="btn btn-secondary all-order-link-profile">Отправить данные к администрацию</a>

					</div>
				</details>	
					{% endif %}
				{% endif %}
				<div style="display: none;">
					<div id="sub_text_1"></div>
					<div id="sub_text_2"></div>
					<div id="sub_text_link_2"></div>
					<div id="sub_text_3"></div>
					<div id="profile_summary"></div>
					<div id="profile_c_username"></div>
					<div id="profile_f_name"></div>
					<div id="profile_l_name"></div>
					<div id="profile_l_link"></div>
					<div id="profile_l_name"></div>
					
				</div>
			</div>
			</div>

			
		</div>
	{% endif %}

	<script type="text/javascript">
		var lang = localStorage.getItem('language')
		var sterm_ = '{{ time_ }}'
		language_profile(lang)
	</script>
{% endblock %}
{% block footer %}{% endblock %}
