{% extends 'base.html' %}

{% block content %}
	{% if object_list %}
	<div class="object-order-container">
		{% for object_order in object_list %}
			<div class="object-order-inner">
				<h1>Заказ #{{ object_order.id }}</h1>
				<hr>
				<div class="object-order">

					<div class="object-order-left">
						<div><strong>Покупатель: </strong>{{ object_order.custom.first_name }} {{ object_order.custom.last_name }}</div>
						<div><strong>Заказанный товар:</strong> {{ object_order.category }}</div>
						<div><strong>Желаемый цена заказа:</strong> {{ object_order.price }}₸</div>
						<div><strong>Комментарий к заказу:</strong> {{ object_order.comment }}</div>
					</div>
					<div>
						<div><img class="object_order-img" src="{{ object_order.des_image }}"></div>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
	{% endif %}
{% endblock %}