{% extends 'base.html' %}
 
{% block content %}
<script type="text/javascript">
	var center_price = [0], border_price = [0], price = 1000;
	var x = 0, y = 0;
</script>
<div class="maker-container">
	<div class="maker-content">
		<div class="maker-block" id="content"><br>
			<div class="border_content">
				<p></p>
			</div>
			<div class="center_top_content">
				<p></p>
			</div>
			<div class="center_bottom_content"> 
				<p></p> 
			</div>
		</div>
	</div>
	<div class="maker-tools">
		<div class="inner-tool">
			<details>
				<summary class="summary1"><span>Фрагмент</span> <i class="fas fa-palette"></i></summary>
				<div class="color-container">
					<label>
						<div class="yellow color-block" ></div>
						<input type="radio" name="bg_pos" onclick="bg_pos()">
					</label>
					<label>
						<div class="blue   color-block" ></div>
						<input type="radio" name="bg_pos" onclick="bg_pos()">
					</label>
					<label>
						<div class="green  color-block"></div>
						<input type="radio" name="bg_pos" onclick="bg_pos()">
					</label>
					<label>
						<div class="gray   color-block"></div>
						<input type="radio" name="bg_pos" onclick="bg_pos()">
					</label>
					<label>
						<div class="white  color-block"></div>
						<input type="radio" name="bg_pos" onclick="bg_pos()">
					</label>
					<label>
						<div class="magenta  color-block"></div>
						<input type="radio" name="bg_pos" onclick="bg_pos()">
					</label>
				</div>
			</details>
			<details>
				<summary class="summary1"><span>Фрагмент</span> <i class="fas fa-border-style"></i></summary>
				<div class="color-container">
				{% for border in border_ornament %}
					<label>
						<img name="border_img" src="{{ border.image_base64 }}" width="80" height="140.67">
						<input type="radio" onclick="border_click();" name="border_ornament">
						<script type="text/javascript">
							border_price[x] = '{{ border.price }}';
							x++
						</script>
					</label>
				{% endfor %}
				</div>
			</details>

			<details>
				<summary class="summary1"><span>Фрагмент</span> <i class="fab fa-first-order-alt"></i></summary>
				<div class="color-container">
				{% for center in center_ornament %}
					<label>
						<img name="center_im" src="{{ center.image_base64 }}" width="80">
						<input type="radio" onclick="center_content()" name="center_ornament">
						<script type="text/javascript">
							center_price[y] = '{{ center.price }}';
							y++
						</script>
					</label>
				{% endfor %}
				</div>
			</details>

		</div>
	</div>
</div>
<div class="mk-button" id="get_images" onclick="screen_shot()">Оформить</div>
<div class="form-modal-container-my clear-fix">
		<div class="form-modal-title">
			<h2 id="get_order">Оформить заказ</h2>
			<button id="modal_close_btn" onclick="close_modal()">X</button>
		</div>
		<div class="form-modal">
			<form action="{% url 'make_order' %}" enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<input type="hidden" name="category" required id="id_category" value="1">
				<input type="hidden" name="ornament_info" required id="id_ornament_info" value="">
				<!-- <input type="hidden" name="salesman" required id="id_salesman" value="5"> -->
				<textarea class="model-form" name="comment"  rows="1" required id="id_comment" placeholder="Комментарий к заказу"></textarea>
				<!-- <input type="file" name="image" accept="image/*" required id="id_image" value=""> -->
				<textarea style="display:none" name="des_image"  id="id_des_image"></textarea>
				
				
				<input class="model-form" type="text" name="client_first_name" value="" maxlength="50" required id="id_client_first_name" placeholder="Имя">
				<input class="model-form" type="text" name="client_last_name" value="" maxlength="50" required id="id_client_last_name" placeholder="Фамилия">
				<input class="model-form" type="text" name="whatsapp" maxlength="12" required id="id_whatsapp" placeholder="Whatsapp">
				<input class="model-form" type="text" name="phone_number" maxlength="12" required id="id_phone_number" placeholder="Телефон">
				<input class="model-form" type="hidden" name="price" step="500" required id="id_price" placeholder="Введите желаемую сумму ₸" readonly>
				<input type="range" id="id_number"  min="1" max="10" name="number" step="1" value="1">
				<div id="range_res"></div>
				<button id="mk_ord" type="submit">Заказать</button>
			</form>
		</div>
		<div class="result-img-my">
			<img id="rm" >
		</div> 
	</div>
<script type="text/javascript">

	var border_images = document.getElementsByName('border_img');
	var center_images = document.getElementsByName('center_im');
	var	border_bottom_img = document.getElementsByClassName('border_content_inner_bottom');
	var borderImgText = border_images[0].src.substr(-50, 30);
	var centerImgText = center_images[0].src.substr(-50, 30);
	var price_c = eval(border_price[0]), price_b = eval(center_price[0]);
	var l, b;
	let lang = localStorage.getItem('language') 
	myStorage = window.localStorage;

	function picture_load(image_c, image_b) { 
		for (l = image_c.length - 1; l>= 0; l--) { 
			$('<div class="border_content_inner_bottom"><img src="'+image_c[l].src+'"width="160"unselectable="on"></div>').insertAfter('.center_bottom_content p');
			$('<div class="border_content_inner_top"><img src="'+image_c[l].src+'"width="160"unselectable="on"></div>').insertAfter('.center_top_content p');
		};
		for (b = image_b.length - 1; b>= 0; b--) { 
			$('<div class="border_content_inner"><img src="'+image_b[b].src+'" width="240" height="422.02" unselectable="on"></div>').insertAfter('.border_content p');
		};
	}

	picture_load(center_images, border_images) 

	language_creat(lang)



</script>

{% endblock %}