{% extends 'base.html' %}

{% block content %}
{% if object_list %}

	{% if not time_left or request.user.is_staff %}
	<div class="orders-container">
		<h2 id="all_orders_text">Все заказы</h2>
		{% for order in object_list %}
		{% if order.category.name == 'Көрпеше' %}
			<div class="orders-block">
				<div class="order-image">

					<img src="{{ order.des_image }}" width="250">
				</div>
				<div class="order-infor">
					<h2>{{ order.client_first_name }} {{ order.client_last_name }}</h2>
					<p>{{ order.comment|slice:":200" }}...</p>
					<p>{{ order.category }}</p>
					<p><strong><span class="order_date">Заказано в </span></strong> {{ order.sterm|slice:":16" }}</p>
					<p><strong><span class="order_sterm">Актуально до </span></strong> {{ order.sterm|slice:":16" }}</p>
					<div class="order-price">{{ order.price }} ₸</div>
					<a href="{% url 'detail_order' order.id %}" class="btn btn-primary order_btn" >Посмотреть заказ </a>
				</div>
			</div>
		{% endif %}
		{% endfor %}
		<div id="feedback_btn" class="open-btn btn btn-primary "> <h1> ? </h1> </div>
	</div> 
	{% else %} 
	<div class="not-premium">
		<h2>Вам нужно премиум подписка!</h2><br>
		<ul>
			<h3>Что включает в себя премиум подписка?</h3><br>
			<li>Доступ к всем заказам</li>
			<li>Все узоры и орнаменты</li>
			<li>Дизайн</li>
			<li>Колличество заказа</li>
			<li>Приблизительная цена заказа</li> 
			<li>Информация о заказе</li>
		</ul><br>
		<p>Подписка осушестивляется ручной</p>
		<p>Поулчить <a href="https://wa.me/+77783142837?text=Здравствуйте%2C+хочу+получить+подписку!+мой+имя+пользователя:+{{ request.user.username }}">ПОДПИСКУ</a></p>
	</div>
	 
	{% endif %}

	<div class="my-feedback-modal">
		<div class="my-feedback-modal-block">
			<h3 id="feedback_title">У вас вопросы?</h3>
			<form action="{% url 'feedback' %}" method="POST">
				{% csrf_token %}
				<input class="form-control" type="text" name="message" id="id_message" placeholder="Опишите вашу проблему?" required>
				<input class="form-control" type="email" name="email" id="id_email" placeholder="Почта" required>
				<button id="send_btn" type="submit" class="btn btn-primary">Отправить</button>
				<button id="close_btn" type="button" class="btn btn-secondary">Закрыть</button>
			</form>
		</div>
		
	</div>
{% endif %}
	<script type="text/javascript">
		lang = localStorage.getItem('language');
		language_all_orders(lang)
	</script>
{% endblock %}
