{% extends 'base.html' %}
{% load static %}
{% block nav %}
	<ul>
		<li><a href="{% url 'main' %}" id="active">Дом</a></li>
		<li><a href="{% url 'maker' %}">Заказать</a></li>
		{% if user.is_authenticated %}
			<li><a href="{% url 'profile' request.user.id %}">Аккаунт</a></li>
		{% if request.user.is_staff %}
			<li><a href="{% url 'add_fragment' %}">Добавить</a></li>
		{% endif %}
		{% else %}
			<li><a href="{% url 'members' %}">Аккаунт</a></li>
		{% endif %}
		<!-- <li><a href="#">Помощь</a></li> -->
	</ul>
{% endblock %}
{% block content %}
	
	<div class="about-content">
		<div class="about-title">Erlan Aiapov</div>
		<div class="about-text" style="font-size:18px">
			 Привет! Данное время этот плотформа находится под разработкой и мы набираем команду, если хотите вступить в проект то обращайтесь на <a href="https://wa.me/+77478160485?text=Здравствуйте%2C+Ерлан+Аяпов+у+меня+есть+к+вам+вопрос">WhatsApp</a>. Этот проект является учебным. Автор проекта <strong>Ерлан Аяпов</strong>. Платформа временно расположен на бесплатном хостинге. Наш хост-провайдер Heroku. Наш <a href="">GitHub</a> !
		</div>
	</div>

	
	<div class="main-container">
		<div class="block-left">
			{% if product %}
				<div class="order-product-container">
				<h2>Все заказы</h2>
				{% for object_order in product %}
					<div class="order-product-block">
						<div><strong>Покупатель: </strong>{{ object_order.client_first_name }} {{ object_order.client_last_name }}</div>
						<div><strong>Заказанный товар:</strong> {{ object_order.category }}</div>
						<div><strong>Желаемый цена заказа:</strong> {{ object_order.price }}₸</div>
						<div><strong>Комментарий к заказу:</strong> {{ object_order.comment|slice:":150" }}...</div><br>
						<a href="{% url 'detail_order' object_order.id %}">Посмотреть заказ</a>		
					</div>					
				{% endfor %}
				</div>
			{% endif %}
		</div>
	
	</div>
	<div id="news_block_open" class="news_button">
		>
	</div>
	<div id="news_block_close" class="news_button">
		<
	</div>
	<script type="text/javascript">
		jQuery('#news_block_open').on('click', function() {
			$(".block-left").css("left","0")
			$(".block-left").css("position","absolute")
			$("#news_block_close").css("display","block")
			$(".about-content").css("display","none")
		});
		jQuery('#news_block_close').on('click', function() {
			$(".block-left").css("left","-100%")
			$(".block-left").css("position","absolute")
			$(".about-content").css("display","block")

			$("#news_block_close").css("display","none")
			$("#news_block_open").css("display","block")
		});
		
	</script>

	 
{% endblock %}