{% extends 'base.html' %}
{% load static %}
{% block nav %}
	<ul>
		<li><a href="{% url 'main' %}" id="active">Дом</a></li>
		<li><a href="{% url 'maker' %}">Заказать</a></li>
		{% if user.is_authenticated %}
			<li><a href="{% url 'profile' request.user.id %}">Аккаунт</a></li>
		{% else %}
			<li><a href="{% url 'members' %}">Аккаунт</a></li>
			<li><a href="#">Помощь</a></li>

		{% endif %}
		{% if request.user.is_staff %}
			<li><a href="{% url 'add_fragment' %}">Добавить</a></li>
		{% endif %}
		
	</ul>
{% endblock %}
{% block content %}
	
	<div class="about-content">
		<p class="about-welcome">Добро пожаловать!</p>
		<p class="about-text">Здесь вы можете нарисовать стиль матраса, нажмите начать</p>
		 <div class="about-img">
		 	<img src="{% static 'main/image/desk.png' %}">
		 	<a href="{% url 'maker' %}">НАЧАТЬ</a>
		 </div>
		 <div class="about-text"> 
		 	
		 </div>
		 <div class="alert-text-block">
		 	<p class="alert-text-title">Начните зарабатывать!</p>
		 	<p class="alert-text">Оформите подписку и получите заказы для сшития матрасов</p>
		 </div>
		 <div class="tarif-continer">
		 	<div class="tarif-block">
		 		<div class="tarif-title">Бесплатная подписка</div>
		 		<div class="tarif-img">
		 		</div>
		 		<div class="tarif-about">
		 			<ul>
		 				<li><span>✔</span> Цена заказа</li>
		 				<li><span>✔</span> Телефон</li>
		 				<li><span>✔</span> Дизайн</li>
		 				<li><span>❌</span> WhatsApp</li>
		 				<li><span>❌</span> Количество</li>
		 				<li><span>❌</span> Орнаменты</li> 
		 			</ul>
		 		</div>
		 		<div class="get-tarif"><a href="">Приобрести</a></div>
		 	</div> 

		 	<div class="tarif-block">
		 		<div class="tarif-title">Платная подписка</div>
		 		<div class="tarif-img">
		 		</div>
		 		<div class="tarif-about">
		 			<ul>
		 				<li><span>✔</span> Цена заказа</li>
		 				<li><span>✔</span> Телефон</li>
		 				<li><span>✔</span> Дизайн</li>
		 				<li><span>✔</span> WhatsApp</li>
		 				<li><span>✔</span> Количество</li>
		 				<li><span>✔</span> Орнаменты</li> 
		 				<span id="tarif-price">1700₸ в месяц</span>
		 			</ul>
		 		</div>
		 		<div class="get-tarif"><a href="">Приобрести</a></div>
		 	</div> 
		 </div>
	</div>

	
	<div class="main-container">
		<div class="block-left">
			{% if product %}
				<div class="order-product-container">
				<h2>Все заказы</h2>
				{% for object_order in product %}
					{% if object_order.category.name == 'Жарнама' %}
					<div class="order-product-block ad-product">
						<div>{{ object_order.comment }}</div> 
						{% if object_order.des_image %}<br>
						<div><img src="{{ object_order.des_image }}"></div>
						{% endif %}<br>
						<br>
						<a href="{{ object_order.sys_info }}" target="_blank">Перейти на продукт</a>		
					</div>
					{% else %}
					<div class="order-product-block">
						<div><strong>Покупатель: </strong>{{ object_order.client_first_name }} {{ object_order.client_last_name }}</div>
						<div><strong>Заказанный товар:</strong> {{ object_order.category }}</div>
						<div><strong>Желаемый цена заказа:</strong> {{ object_order.price }}₸</div>
						{% if object_order.date %}
						<div><strong>Время заказа:</strong> {{ object_order.date|slice:":16" }}</div>
						{% endif %}
						<br>
						<a href="{% url 'detail_order' object_order.id %}" >Посмотреть заказ</a>		
					</div>	
					{% endif %}				
				{% endfor %}
				</div>
			{% endif %}
		</div>
	
	</div>
	<!-- <div id="news_block_open" class="news_button">
		>
	</div> -->
	<div id="news_block_close" class="news_button">
		<
	</div>
	<script type="text/javascript">
		jQuery('#news_block_open').on('click', function() {
			$(".block-left").css("left","0")
			$(".block-left").css("position","absolute")
			$("#news_block_close").css("display","block")
			$(".about-content").css("display","none")
		});
		jQuery('#news_block_close').on('click', function() {
			$(".block-left").css("left","-100%")
			$(".block-left").css("position","absolute")
			$(".about-content").css("display","block")

			$("#news_block_close").css("display","none")
			$("#news_block_open").css("display","block")
		});
		
	</script>

	 
{% endblock %}