{% extends 'base.html' %}
{% load static %}
 
{% block content %}	
	<div class="main-container">
		<div class="main-block">
			<strong><div class="block-title" id="main_welcome">Добро пожаловать!</div></strong>
			<div class="block-text" id="main_about">
				Платформа предназначена для создание дизайна ковриков, выбирая готовые орнаменты вы можете легко и быстро создать собственный дизайн коврика. И за одно можно найти мастера для сшитья этого коврика.
			</div>
		</div>
		<div class="video-block">
			<iframe width="100%" height="415" src="https://www.youtube.com/embed/o39ODUHJIvE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>	 
	<div class="language-container" id="lg_container" style="display:none;">
		<div class="language-block" id="qazaqsha">
			<div class="lang-img"><img src="{% static 'main/image/tu.jpg' %}"></div>
			<div class="language-text">Қазақ тілі</div>
		</div>
		<div class="language-block" id="russkiy">
			<div class="lang-img"><img src="{% static 'main/image/flag.jpg' %}"></div>
			<div class="language-text">Руский язык</div>
		</div>
	</div> 
	<div id="news_block_close" class="news_button"><</div>
	<script type="text/javascript">
		myStorage = window.localStorage;
		let mod = localStorage.getItem('language') 
		language_main(mod)
	</script>
	<footer>
		<div class="select-lang">
			<details>
				<summary id="lang_summary">Выбрать язык</summary>
				<div id="select_kazakh">Қазақ тілі</div>
				<div id="select_russkiy">Русский язык</div>
			</details>
		</div>	
	</footer>
{% endblock %}