{% extends 'base.html' %}

{% block content %}
	<div class="order-detail-container">
		<div class="order-block">
			<h2>Заказ №{{ object.id }}</h2>
			<div class="order-info">
				<p><strong>Покупатель:</strong> {{ object.client_first_name }} {{ object.client_last_name }}</p>
				<p><strong>Комментарий к заказу:</strong> {{ object.comment }}</p>
				<p><strong>Цена заказа:</strong> {{ object.price }}₸</p>
				<p><strong>Заказано:</strong> {{ object.number }}x</p>
				<p><strong>Местоположение:</strong> <a href="{% url 'detail_map' object.id %}">Открыть карту</a></p>
				<p>
					<strong>Телефон:</strong> 
					<a href="tel:{{ object.phone_number }}">{{ object.phone_number }}</a>
				</p>
				<p>
					<strong>Whatsapp:</strong> 
					<a href="https://wa.me/+77478160485?text=Добрый+день!+{{ object.client_first_name }}+{{ object.client_last_name }}%2C+обращяюсь+по+поводу+заказа+№{{ object.id }}%2C+http://sheber-test.herokuapp.com/order/detail{{ object.id }}">{{ object.whatsapp }}</a>
				</p>
			</div>
				<hr>
			<div class="order-design">
				<img src="{{ object.des_image }}">
			</div>

			{% if result == 'True' %}
				<div class="delete-form">
					<form action="{% url 'order_delete' object.id %}" method="POST">
						{% csrf_token %}
						<button type="submit">Удалить заказ</button>
					</form>
				</div>

			{% endif %}
			<h3>Использованные узоры</h3>
			<div class="maked-ornaments-container">
				
				<div class="maked-center">
					<img src="{{ center_img  }}" width="80">
					<a href="{{ center_img  }}" download>Скачать</a>
				</div>
				<div class="maked-border">
					<img src="{{ border_img  }}" width="80">
					<a href="{{ border_img  }}" download>Скачать</a>
				</div>
			</div>
		</div> 
	</div>
	{% if result == 'True' %}
	<div class="delete-info">
		<h3>Заказ успешно опубликован!</h3>
		<p>Вы можете удалить заказ в течени {{ dead_line }} минут.</p>
		<button onclick="close_info()">ok</button>
	</div>
	{% endif %}
{% endblock %}
