{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Freelance Sheber</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
		<script src="{% static 'main/script/lang.js' %}"></script>
		<link rel="icon" type="image/png" href="{% static 'main/image/icon.png' %}">
		{% block other_links %}
		{% endblock %}
		<script src="{% static 'main/script/jquery.js' %}"></script>
	</head>
	<body oncontextmenu="return false;">
		<header>
			<div class="logo-content">
				<div class="top-nav">
					<div class="nav-inner"> 
						<ul>
							<li><a href="{% url 'main' %}" id="main">Дом</a></li>
							<li><a href="{% url 'maker' %}" id="make">Создать</a></li>
							<li><a href="{% url 'members' %}" id="account">Аккаунт</a></li>
							<li><a href="#" id="help">Помощь</a></li>
						</ul> 					
					</div>
				</div>
				<div class="logo-dec-line"></div>
				<div class="logo-icon">FS</div>
				<div class="logo-text">
					<strong>Freelance Sheber</strong>
				</div>
			</div>
		</header>
		<main>{% block content %}{% endblock %}</main> 
				
		<script src="https://kit.fontawesome.com/e9b4a4c6c5.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static 'main/script/maker.js' %}"></script>
		<script src="{% static 'main/script/html2canvas.js' %}"></script>
		<script src="{% static 'main/script/scripts.js' %}"></script>
	</body>
</html>